<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.taskmanager.dao.TaskDAO">
	
	<!-- useGeneratedKeys="true" keyProperty="id"  這樣 insert 執行完後， Task 物件的 id 會自動填入資料庫產生的自 id ，方便後續使用 -->
	<insert id="insertTask"
		parameterType="com.example.taskmanager.entity.Task"
		useGeneratedKeys="true"
		keyProperty="id">
		INSERT INTO task (title, description, status,
		created_Time, updated_Time, user_id)
		VALUES (#{title}, #{description},
		#{status}, #{createdTime}, #{updatedTime}, #{userId})
	</insert>

	<select id="getTaskById" parameterType="long"
		resultType="com.example.taskmanager.entity.Task">
		SELECT * FROM task WHERE id = #{id}
	</select>

	<select id="getAllTasks"
		resultType="com.example.taskmanager.entity.Task">
		SELECT * FROM task
	</select>

	<select id="getTasksByUserId"
		resultType="com.example.taskmanager.entity.Task">
		SELECT * FROM task WHERE user_id = #{userId}
	</select>

	<select id="getTasksByUsername"
		resultType="com.example.taskmanager.entity.Task">
		SELECT t.*
		FROM task t JOIN user u on t.user_id = u.id
		WHERE
		u.username = #{username}
	</select>

	<update id="updateTask"
		parameterType="com.example.taskmanager.entity.Task">
		UPDATE task
		<set>
			<if test="title != null and title !=''">
				title = #{title},
			</if>
			<if test="description != null and description != ''">
				description = #{description},
			</if>
			<if test="status != null and status != ''">
				status = #{status},
			</if>
			updated_time = #{updatedTime}
		</set>
		WHERE id = #{id} AND user_id = #{userId}
	</update>

	<update id="updateTaskStatus"
		parameterType="com.example.taskmanager.entity.dto.TaskUpdateStatusDTO">
		UPDATE task
		SET status = #{status}
		WHERE id = #{id}
	</update>

	<delete id="deleteTask" parameterType="long">
		DELETE FROM task WHERE id
		= #{id} AND user_id = #{userId}
	</delete>

</mapper>