<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.taskmanager.dao.TaskDAO">

	<insert id="insertTask"
		parameterType="com.example.taskmanager.entity.Task"
		useGeneratedKeys="true">
		INSERT INTO task (title, description, status, created_at, updated_at)
		VALUES (#{title}, #{description}, #{status}, #{createdTime}, #{updatedTime})
	</insert>

	<select id="getTaskById" parameterType="long"
		resultMap="com.example.taskmanager.entity.Task">
		SELECT * FROM task WHERE id = #{id}
	</select>

	<select id="getAllTasks" resultMap="com.example.taskmanager.entity.Task">
		SELECT * FROM task
	</select>

	<update id="updateTask"
		parameterType="com.example.taskmanager.entity.Task">
		UPDATE task
		SET title = #{title},
		description = #{description},
		status = #{status},
		updated_at = #{updatedTime}
		WHERE id = #{id}
	</update>

	<delete id="deleteTask" parameterType="long">
		DELETE FROM task WHERE id = #{id}
	</delete>

</mapper>